.Hero {
  display: flex;
  padding: 64px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.Hero[dir="rtl"] {
  direction: rtl;
}

.section1-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.section1-hero span {
  color: var(--Black-black-3, #F6F6F6);
  text-align: center;
  font-family: Poppins, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 28.8px */
  letter-spacing: 0.36px;
  text-transform: uppercase;
}

.section1-hero .title-hero {
  color: var(--Black-black-1, #FFF);
  text-align: center;
  font-family: Poppins, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 56px */
  max-width: 718px;
}

.section1-hero .yellow-hero-wrapper {
  display: inline-block;
  text-align: center;
}



.section1-hero .yellow-hero {
  color: var(--Yellow-yellow-500, #FFB130);
  text-align: center;
  font-family: Poppins, sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%; /* 76.8px */
  text-transform: capitalize;
}

 .typed-cursor,.typed-cursor--blink {
  color: #FFB130 !important;
  font-size: 48px !important;
  /* line-height: 160% !important; */
  /* vertical-align: middle !important; */
}

.section1-hero p {
  color: var(--Black-black-3, #F6F6F6);
  text-align: center;
  font-family: Poppins, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 38.4px */
  max-width: 990px;
}

/* btn-contact-hero */
.section2-hero {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 24px;
}

.section2-hero .btn-contact-hero {
  display: flex;
  padding: 16px 48px;
  align-items: flex-start;
  gap: 8px;
  border-radius: 12px;
  background: var(--OilN-oil-1, #FFF);
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.section2-hero .btn-contact-hero:hover {
  background: var(--tessafold);
}

.section2-hero .btn-contact-hero span {
  color: var(--OilMain-oilmain-6, #0D5C63);
  text-align: center;
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%; /* 32px */
}

.section2-hero .btn-contact-hero:hover span {
  color: #FFF;
}

/* section 3 */
.section3-hero {
  display: flex;
  width: 100%;
  padding: 24px 64px;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.section3-hero .partners-swiper {
  width: 100%;
  display: flex;
}

.partner-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 88px;
}

.partner-slide img {
  width: 76px;
  height: 76px;
  flex-shrink: 0;
}